doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Move it after in the body  when dev ends
    script(type='text/javascript' src='/bower_components/jquery/jquery.js')
    script(type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/bower_components/d3/d3.js')
  body
    include _flashes
    div.alert
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io.connect('http://localhost:3000');
      //socket.on('answer', function(data){console.log('SOCKET TEST', data)});
      socket.on('answer:new', function(data){
          //Update the concern counter.
          var linkSel = 'a#'+ data.questionId ;
          var spanSel = ' span.'+ data.value;
          var value = (+$(spanSel, linkSel).html()) + 1;
          $(spanSel, linkSel).html(value);
          var nbYes = +$('span.yes', linkSel).html();
          var nbNo = +$('span.no', linkSel).html();
          $('span.total', linkSel).html(nbYes + nbNo);
          //Progress bar update
          var pYes = "width:" + Math.round(100.*(nbYes/(nbYes+ nbNo))) + "%";
          var pNo = "width:" + Math.round(100.*(nbNo/(nbYes+ nbNo))) + "%";
          $('.progress-bar.yes', linkSel).attr('style', pYes);
          $('.progress-bar.no', linkSel).attr('style', pNo);
        });
      //socket.on('flash', function(flash){alert(flash.type + ' : ' + flash.message)});
    block content
    