extends layout

block content
  h1= text
  
  div.btn-group
    button#yes.btn.btn-lg.btn-danger(data-value='no') no
    button#no.btn.btn-lg.btn-success(data-value='yes') yes
    script(type='text/javascript').
      /*global io*/
      var socket = io.connect('http://localhost');
      $('button').on('click', function(e){
        console.log('button', e.target.getAttribute('data-value'));
        socket.emit(
          'answer',
          { questionId: #{id}, value: e.target.getAttribute('data-value')},
          function(data){
            $("div.alert").html("<div class='alert alert-success'>Votre réponse a bien été traitée.</div>");
            setTimeout(function(){
              $("div.alert").html('');
              }, 3000)
          }
        );
      })