extends layout

block content
  h1= title
  p Welcome to #{title}

  div
  form(action='/newQuestion',method='post')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='question') question
           input(id='question',type='text',value='',placeholder='?',name='question')
      button#reset.btn.btn-primary(type="submit") Start a new question