extends layout

block content
  h1= title
  hr
  div.newQuestion
    form(action='/newQuestion',method='post', role='form')
      div.form-group
        label(for='question') Nouvelle Question
        input#question.form-control(type='text',placeholder='Nouvelle question ?',name='question')
    button#newQuestion.btn.btn-primary.btn-block(type="submit") Create  new question
  hr
  div.allQuestions
    div.list-group
      h2 Les dernières questions
      each question in questions
        a.list-group-item(href!="/question/"+question.id, id!=question.id)
          //-span.badge.total= (question.results ? ((question.results.no + question.results.yes) || 0) : 0) || 0
          span.badge.success.yes= (question.results ? (question.results.yes || 0) : 0) || 0
          span.badge.danger.no= (question.results ? (question.results.no || 0) : 0) || 0
          = question.text
          div.progress
            div.progress-bar.progress-bar-success.yes(style!="width:"+(Math.round((100. * question.results.yes/(question.results.yes + question.results.no))))+'%')
              span.sr-only Oui
            div.progress-bar.progress-bar-danger.no(style!="width:"+(Math.round((100. * question.results.no/(question.results.yes + question.results.no))))+ '%')
              span.sr-only Non