body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.badge.success {
  background-color: #008000;
}
.badge.danger {
  background-color: #f00;
}
